table, th, td {
  border: 3px solid black;
  max-width: 800px;
  text-align: left;
  vertical-align:top;
}

p {
    margin-top: 0px;
    margin-bottom: 6px;
}

table {
  border-collapse: collapse;
}



